* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/fondo\ \(1\).png');
  background-repeat: repeat;
  background-size: auto 60px;
  font-family: "Times New Roman", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}